@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.eot');
    src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff'),
        url('Futura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedExtraBold.eot');
    src: url('Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Futura-CondensedExtraBold.woff2') format('woff2'),
        url('Futura-CondensedExtraBold.woff') format('woff'),
        url('Futura-CondensedExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedMedium.eot');
    src: url('Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('Futura-CondensedMedium.woff2') format('woff2'),
        url('Futura-CondensedMedium.woff') format('woff'),
        url('Futura-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-MediumItalic.eot');
    src: url('Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Futura-MediumItalic.woff2') format('woff2'),
        url('Futura-MediumItalic.woff') format('woff'),
        url('Futura-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

